/* Стили для контейнера формы */
.login-container {
    max-width: 400px;
    margin: auto;
    margin-top: 170px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Заголовок */
  .login-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Сообщение об успешном или неудачном входе */
  .message {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .message.success {
    color: green;
  }
  
  .message.error {
    color: red;
  }
  
  /* Стиль для всех input */
  .login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .login-container .button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }
  
  /* Стили для ссылки на регистрацию */
  .login-container a {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  .login-container a:hover {
    text-decoration: underline;
  }
  .btn-secondary {
    background-color: #6c757d;
    color: white;
  }

  /* Контейнер для всей страницы */
.page-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* Левая сторона с формой входа */
.login-container {
  flex: 1; /* Занимает 50% ширины */
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Правая сторона с фоном */
.bg-container {
  flex: 1; /* Занимает оставшиеся 50% ширины */
  background-color: rgb(112, 1, 254);
}


.page-container .login{
  width: 50% !important;
}
.page-container .register{
  width: 50% !important;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}
.page-container .bg-container{
  position: relative;
}
.page-container .bg-container h1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.page-container .bg-container h1 img{
  width: 200px;
}